doctype html
html
  head
    title= title
    meta(charset=" utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  block include_js


